<!DOCTYPE html>
<html lang="fr" data-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content, pageTitle, showHeader, showTitle, showFooter, bgClass)">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ?: 'PayMyBuddy'">PayMyBuddy</title>
       <meta name="color-scheme" content="light">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="min-vh-100" th:classappend="${bgClass} ?: ''">
<header role="banner" th:if="${showHeader} ?: true">
    <nav aria-label="Navigation principale">
        <a th:href="@{/}">Tableau de bord</a> |
        <a th:href="@{/accounts}">Comptes</a> |
        <a th:href="@{/transfer}">Transfert</a> |
        <a th:href="@{/bank}">Virement bancaire</a> |
        <a th:href="@{/connections}">Connexions</a> |
        <a th:href="@{/profile}">Profil</a> |
        <a th:href="@{/logout}">Se déconnecter</a>
    </nav>
</header>

<main id="content" role="main" tabindex="-1" class="container">
    <h1 th:if="${showTitle} ?: true"
        th:text="${pageTitle} ?: 'PayMyBuddy'">PayMyBuddy</h1>

    <div th:insert="${content}"></div>
</main>

<footer role="contentinfo" class="footer" th:if="${showFooter} ?: true">
    <small>&copy; PayMyBuddy - Prototype</small>
</footer>
</body>
</html>
